<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AcademicoWebServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7777/ws" binding="basicHttpBinding"
                bindingConfiguration="AcademicoWebServicePortBinding" contract="wsAcademico.AcademicoWebService"
                name="AcademicoWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>